<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="solicitudes">
      <mat-icon >assignment_returned</mat-icon>
      <ion-label>Solicitudes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacto">
      <ion-icon name="call"></ion-icon>
      <ion-label>Contacto</ion-label>
    </ion-tab-button>


    <ion-tab-button href="http://wa.me/+18494510798" target="_blank">
      <ion-icon name="logo-whatsapp"></ion-icon>
      <ion-label>WhatsApp</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>
