<ion-tabs >
  <ion-tab-bar slot="bottom" [hidden]="tabsHide">
    <ion-tab-button tab="solicitudes">
      <ion-icon name="create"></ion-icon>
      <ion-label>Solicitudes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contactos">
      <ion-icon name="call"></ion-icon>
      <ion-label>Contacto</ion-label>
    </ion-tab-button>


    <ion-tab-button href="http://wa.me/+18494510798" target="_blank">
      <ion-icon name="logo-whatsapp"></ion-icon>
      <ion-label>WhatsApp</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>
