<app-menu [title]="title"></app-menu>
<ion-content class='m-5'>

 
    <ion-card *ngIf="listNoticia.length === 0; else showSwiper">
      <ion-skeleton-text animated style="height: 300px;"></ion-skeleton-text>
    </ion-card>
     
    <ng-template #showSwiper>
      <ion-card>
        <swiper #swiper [config]="config" class="p-3">
          <ng-template swiperSlide *ngFor="let item of listNoticia ">
            <a [href]="item.link">
              <img [src]="item.imagen" class="radius-image">
              <h3 class="text-center mt-1"><strong>{{item.title}} </strong> </h3>
              <p>{{item.resumen}}</p>
            </a>
          </ng-template>
        </swiper>
      </ion-card>
    </ng-template>
    
    


</ion-content>

<!-- <ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>Footer - No Border</ion-title>
  </ion-toolbar>
</ion-footer>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer> -->

<!-- Fade Footer -->
<!-- <ion-footer collapse="fade"  >
  <ion-toolbar class="bg-danger">
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer> -->