<app-menu [title]="title"></app-menu>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">

    <div class="logo">
      <ion-img  [src]="['../../../assets/images/Logo-Pagina-Web1.png']"></ion-img>
    </div>

    <form [formGroup]="formGroup">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Cédula</mat-label>
        <input matInput type="number" formControlName="id" placeholder="40200000000" size="100">
        <mat-icon matPrefix>account_circle</mat-icon>

       
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <mat-icon matPrefix>key</mat-icon>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <ion-button type="submit" [disabled]="formGroup.invalid" (click)="handleButtonClick()">INICIAR SESIÓN</ion-button>
      <a class="text-center pt-5 d-block" [routerLink]="['/recuperar-cuenta']">¿Tienes problema para iniciar sesión?</a>
    </form>
  </div>


</ion-content>
