<app-menu [title]="title"></app-menu>

<ion-content [fullscreen]="true">



  <!-- BEGIN PRESTAMOS -->


    <ion-card *ngIf="solicitudes.length >0">
      <ion-list>
        <ion-item detail *ngFor="let item of solicitudes; let last=last" [lines]="last? 'none': 'inset'"
          [routerLink]="['./',item.codigo]">
          <ion-label>
            {{item.nombre}}
            <p class="mb-0">{{item.fecha}}</p>
          </ion-label>
          <ion-label slot="end">
            <p class="mb-0">{{item.estado}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>


  <!-- END PRESTAMOS -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerDirection="root" routerLink='./add'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>