<app-menu [title]="title"></app-menu>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- BEGIN PRESTAMOS -->
  <ion-card *ngFor="let item of solicitudes">

    <ion-item>
      <ion-label>
        <h2 class="m-0">{{item.nombre}} </h2>
        <h3 class="m-0">{{item.comentario}} </h3>
        <p>{{item.fecha}}</p>
      </ion-label>
      <ion-note slot="end">
        {{item.estado}}
      </ion-note>

    </ion-item>

  </ion-card>
  <!-- END PRESTAMOS -->


  <mat-icon class="add-icon" routerDirection="root" routerLink='./add'>
    add_circle
  </mat-icon>


</ion-content>