<app-menu [title]="title"></app-menu>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
    
  <ion-card *ngFor="let item of listNoticias">
    
    <ion-card-header>
      <ion-card-subtitle>{{item.date}}</ion-card-subtitle>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{item.resumen}}
    </ion-card-content>
    <img [src]="item.imagen" class="radius-image p-3" />
  </ion-card>
  
  
</ion-content>
 
