<app-menu [title]="title"></app-menu>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let item of videos">
    <ion-card-header>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <iframe width="auto" loading="lazy" [src]="domSanitizerIframe(item.url)" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
       allowfullscreen></iframe>
    </ion-card-content>
  </ion-card>

</ion-content>